<div class="container section">
  <h2 class="indigo-text text-darken-4 center">Welcome to Game Guides</h2>
  <h5 class="grey-text text-darken-2 center">Keep Track Of All Your Game Activities</h5>

  <section class="section" id="information">
    <div class="card blue darken-4">
      <div class="card-content white-text">
        <span class="card-title">Easily Setup your own Quest Chains</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quasi voluptatibus exercitationem recusandae magni fugit aliquid nisi quos tenetur necessitatibus deleniti nostrum, veritatis odit modi ab porro doloribus consequatur asperiores.</p>
      </div>
    </div>

    <div class="card blue darken-4">
      <div class="card-content white-text">
        <span class="card-title">Keep track of items you a gathering</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quasi voluptatibus exercitationem recusandae magni fugit aliquid nisi quos tenetur necessitatibus deleniti nostrum, veritatis odit modi ab porro doloribus consequatur asperiores.</p>
      </div>
    </div>

    <div class="card blue darken-4">
      <div class="card-content white-text">
        <span class="card-title">Crafting Item Cheat Sheet</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quasi voluptatibus exercitationem recusandae magni fugit aliquid nisi quos tenetur necessitatibus deleniti nostrum, veritatis odit modi ab porro doloribus consequatur asperiores.</p>
      </div>
    </div>
  </section>
</div>