<footer class="page-footer indigo darken-4">
  <div class="container">
    <h5>About</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolorem alias in quaerat quae asperiores, ullam accusantium eos itaque molestias temporibus vero quia hic, libero, veritatis obcaecati saepe eligendi placeat?</p>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span class="right">© 2018 Game Todos</span>
    </div>
  </div>
</footer>